@charset "UTF-8";

body{
    background: rgb(88, 28, 75);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

main{
 background: white;
 border-radius: 10px;
 padding: 15px;
 width: 500px;
 margin: auto;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.329);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
